@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    --default-background: #141b25;
    --default-text: #e1e6ed;
    --default-accent: #3f81df;
    --default-link: #6099e9;

    background-color: var(--default-background);
    color: var(--default-text);
    font-family: "Open Sans", sans-serif;
    margin: 4%;
    justify-content: center;
}

strong,
span,
a,
i,
br {
    margin: 0;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted var(--default-text); /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #222830ef;
    backdrop-filter: blur(6px);
    color: #fff;
    text-align: left;
    padding: 15px;
    border: 0.5px solid grey;
    border-radius: 5px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

h1,
h2,
a,
br {
    color: var(--default-accent);
    background-color: transparent;
}

.subheading-img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    margin: auto;
    height: 300px;
}

.subheading-container {
    position: relative;
}

.subheading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #242424cc;
    text-align: center;
    width: 75%;
}

.quiz {
    object-fit: cover;
}